/* low resolution, 480px and below */
@media only screen and (max-width: 480px) {
  h1 {
    color: blue;
  }

  p {
    background-color: yellow;
  }
}

h1 {
  text-align: center;
  font-size: 60px;
  font-style: italic;
}

.buttonHolder {
  text-align: center;
}

button, .addButton {
  height: 60px;
  width: 200px;
  border-radius: 5px;
  drop-shadow: none;
  font-family: helvetica;
  font-size: 18px;
  font-color: #fff;
  margin: 5px 0px;
}

.addButton{
  margin: 5px 5px;
}
